[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Konbini
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/JPG;image/JPEG;image/jpg;
Actions=AddEXIFComment
Name[en_US]=add-exif-info.desktop

[Desktop Action AddEXIFComment]
Name=Add EXIF Comment
Exec=add-exif-info %f
Icon=/usr/share/icons/konbini-icons/info.png
