[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Konbini
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/JPG;image/JPEG;image/jpg;
Actions=RemoveEXIF
[Desktop Action RemoveEXIF]
Name=Remove EXIF
Exec=exiftool -overwrite_original -all= %f
Icon=/usr/share/icons/konbini-icons/delete.png