[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Konbini
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=Resize
[Desktop Action Resize]
Name=Resize
Exec=resize %f
Icon=/usr/share/icons/konbini-icons/crop.png