[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=🏪 Konbini
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=ShareFile;ShareDir

[Desktop Action ShareFile]
Name=🌍 Share file
Exec=sharef %f

[Desktop Action ShareDir]
Name=📂 Share folder
Exec=shared
