[Desktop Entry]
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Konbini
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/JPEG;image/jpeg;image/JPG;image/jpg;
Actions=Rename
[Desktop Action Rename]
Name=Rename using EXIF Datetime (Upper Case)
Exec=/usr/local/bin/uprename %F
Icon=/usr/share/icons/konbini-icons/arrow-up.png